doctype 5
html(lang="fi")
	head
		title !{tpage.title}
		meta(name="author",content="Miro 'leonarven' Nieminen")
		link(rel="stylesheet",type="text/css",href="/css/style.css")
		- if (!noJavascript)
			script(type="text/javascript", src="/js/jquery.min.js")
			script(type="text/javascript", src="/js/common.js")
			script(type="text/javascript", src="/js/script.js")
			script(type="text/javascript")
				if (getCookie("hasJavascript") !== "true") {
					setCookie("hasJavascript", "true");
					location.refresh();
				}
				window.page_id  = !{page_id};
				window.block    = !{JSON.stringify(block)};
				window.tpage    = !{JSON.stringify(tpage)};
	body
		section#content
		- if (noJavascript)
			- each element, key in tpage.elements
				article(class="#{element.classes.join(" ")}") !{element.html}

